.inputs {
    display: flex;
}

.inputs__break {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;

    button {
        width: 2rem;
        height: 2rem;
        border-radius: 4px;

        &:focus {
            outline: none;
        }

        &:active {
            box-shadow: inset 0px 0.5px 1px 0px #515151;
        }
    }
}

.inputs__break > * {
    margin: 1rem 0;
    
}

.inputs__session {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;

    button {
        width: 2rem;
        height: 2rem;
        border-radius: 4px;

        &:focus {
            outline: none;
        }

        &:active {
            box-shadow: inset 0px 0.5px 1px 0px #515151;
        }
    }
}

.inputs__session > * {
    margin: 1rem 0;
}