// .time {
//     width: 400px;
//     height: 400px;
//     margin: 5rem auto;
// }

// .time__value {
//     color: white;
//     font-size: 8rem;
// }

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;

    div {
        color: white;
        font-size: 8rem;
    }
}